<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

  <appSettings>
    <!--<set to true to disable hardware acceleration and use Software Rendering if you have issues with WPF and graphics card driver />-->
    <add key="wpfRenderModeSoftwareOnly" value="false" />
    <!--<set to false to disable the sync progress bar when the treshold of operations is reached />-->
    <add key="showProgressBar" value="true" />
    <add key="loadOperationThresholdForProgressDisplay" value="50" />
    <add key="calDavConnectTimeout" value="00:01:30" />
    <!--<set to true to disable SSL/TLS certificate validation, major security risk, use with caution! />-->
    <add key="disableCertificateValidation" value="false" />
    <!--<set to true to enable client certificates with automatic mode />-->
    <add key="enableClientCertificate" value="false" />
    <!--<set to true to enable deprecated SSLv3, major security risk, use with caution! />-->
    <add key="enableSsl3" value="false" />
    <!--<set to false to disable TLS12, not recommended />-->
    <add key="enableTls12" value="true" />
    <!--<set to false to disable automatic check for updates />-->
    <add key="checkForNewerVersions" value="true" />
    <!--<set to true if you need to store state and profile data in the AppData\Roaming\ directory />-->
    <add key="storeAppDataInRoamingFolder" value="false" />
    <!--<set to true if you have custom forms with message_classes other than the default IPM.Appointment/Contact/Task />-->
    <add key="includeCustomMessageClasses" value="false" />
    <!--<set to true to enable the advanced settings in the synchronization profiles by default />-->
    <add key="enableAdvancedView" value="false" />
    <!--<set the default culture for the UI language of the addin />-->
    <add key="cultureName" value="en-US" />
  </appSettings>
  
  <log4net>
    <appender name="MainLogAppender" type="log4net.Appender.FileAppender">
      <file value="${LOCALAPPDATA}\CalDavSynchronizer\log.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value=" %-5level %date [%10.10thread] %40.40logger . %-30.30method - %message%newline" />
      </layout>
    </appender>

    <root>
      <!--<level value="DEBUG" />-->
      <level value="INFO" />
      <appender-ref ref="MainLogAppender" />
    </root>

    <!--<appender name="CalDavAccessAppender" type="log4net.Appender.FileAppender">
      <file value="${LOCALAPPDATA}\CalDavSynchronizer\log_calDavAccess.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value=" %-5level %date [%thread] %40.40logger . %-30.30method - %message%newline" />
      </layout>
    </appender>
    <logger name="CalDavSynchronizer.DataAccess.CalDavDataAccess">
      <level value="DEBUG" />
      <appender-ref ref="CalDavAccessAppender" />
    </logger>-->

    <!--<appender name="SynchronizationProfileRunnerAppender" type="log4net.Appender.FileAppender">
      <file value="${LOCALAPPDATA}\CalDavSynchronizer\log_SynchronizationProfileRunner.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value=" %-5level %date [%thread] %40.40logger . %-30.30method - %message%newline" />
      </layout>
    </appender>
    <logger name="CalDavSynchronizer.Scheduling.SynchronizationProfileRunner">
      <level value="DEBUG" />
      <appender-ref ref="SynchronizationProfileRunnerAppender" />
    </logger>-->


  </log4net>

  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
      <!--<httpWebRequest useUnsafeHeaderParsing="true" />-->
    </settings>
  </system.net>

  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.16.0.0" newVersion="1.16.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Google.Apis.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.15.0.0" newVersion="1.15.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.16.0.0" newVersion="1.16.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
