<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <log4net>
        <appender name="MainLogAppender" type="log4net.Appender.FileAppender">
            <file value="${LOCALAPPDATA}\CalDavSynchronizer\log.txt" />
            <appendToFile value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value=" %-5level %date [%10.10thread] %40.40logger . %-30.30method - %message%newline" />
            </layout>
        </appender>

        <root>
            <!--<level value="DEBUG" />-->
            <level value="INFO" />
            <appender-ref ref="MainLogAppender" />
        </root>

        <!--<appender name="CalDavAccessAppender" type="log4net.Appender.FileAppender">
      <file value="${LOCALAPPDATA}\CalDavSynchronizer\log_calDavAccess.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value=" %-5level %date [%thread] %40.40logger . %-30.30method - %message%newline" />
      </layout>
    </appender>
    <logger name="CalDavSynchronizer.DataAccess.CalDavDataAccess">
      <level value="DEBUG" />
      <appender-ref ref="CalDavAccessAppender" />
    </logger>-->

        <!--<appender name="SynchronizationProfileRunnerAppender" type="log4net.Appender.FileAppender">
      <file value="${LOCALAPPDATA}\CalDavSynchronizer\log_SynchronizationProfileRunner.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value=" %-5level %date [%thread] %40.40logger . %-30.30method - %message%newline" />
      </layout>
    </appender>
    <logger name="CalDavSynchronizer.Scheduling.SynchronizationProfileRunner">
      <level value="DEBUG" />
      <appender-ref ref="SynchronizationProfileRunnerAppender" />
    </logger>-->


    </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.45.0.0" newVersion="1.45.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.45.0.0" newVersion="1.45.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
