<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IdentityModel" version="4.1.0" targetFramework="net48" />
  <package id="IdentityModel.OidcClient" version="3.1.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.6.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="5.6.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.6.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.6.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net48" />
</packages>