<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net452" />
  <package id="DotNetOpenAuth.OAuth2.Client" version="4.3.4.13329" targetFramework="net452" />
  <package id="DotNetOpenAuth.OAuth2.Client.UI" version="4.3.4.13329" targetFramework="net452" />
  <package id="DotNetOpenAuth.OAuth2.ClientAuthorization" version="4.3.4.13329" targetFramework="net452" />
  <package id="DotNetOpenAuth.OAuth2.Core" version="4.3.4.13329" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.0.20505.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
</packages>